<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
	data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/common :: headSrc">

</head>

<body>

	<div id="layout-wrapper">


		<th:block th:replace="fragments/common :: headerSrc"></th:block>
		<th:block th:replace="fragments/common :: navSrc"></th:block>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">

							<div class="h-100">
								<div class="row mb-3 pb-1">
									<div class="col-12">
										<div
											class="d-flex align-items-lg-center flex-lg-row flex-column">
											<div class="flex-grow-1">
												<h4 class="fs-16 mb-1">SNSTOMOのアフィリエイトシステムにご参加していただき誠にありがとうございます。</h4>
												<p class="text-muted mb-0">自身の活動によって発生した売上の概要を確認できるページです。</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="card">
											<div class="card-header">
												<h4 class="card-title mb-0">CLIENT MANAGEMENT SYSTEM</h4>
											</div>

											<div class="card-body">
												<div class="listjs-table" id="customerList">
													<div class="row g-4 mb-3">
														<div class="col-sm">
															<form role="form" method="POST" th:action="@{/member/calculation}">
																<div class="d-flex justify-content-sm-end">
																	<div class="ms-2" style="margin-right:10px;">
																		<select class="form-control" th:name="size" id="pageSize">
																			<option th:value="10" th:selected="${buyers.pageable.pageSize}=='10'">10件表示</option>
																			<option th:value="30" th:selected="${buyers.pageable.pageSize}=='30'">30件表示</option>
																			<option th:value="50" th:selected="${buyers.pageable.pageSize}=='50'">50件表示</option>
																			<option th:value="100" th:selected="${buyers.pageable.pageSize}=='100'">100件表示</option>
																		</select>
																	</div>
																	<button type="submit" class="btn btn-success"> 検索 </button>
																</div>
															</form>
														</div>
													</div>

													<div class="table-responsive mt-3 mb-1">
														<table class="table align-middle table-nowrap"
															id="customerTable">
															<thead class="table-light">
																<tr>
																	<th scope="col" style="width: 50px;">
																		<div class="form-check">
																			<input class="form-check-input" type="checkbox"
																				id="checkAll" value="option">
																		</div>
																	</th>
																	<th>精算期間</th>
																	<th class="sort">精算金額</th>
																	<th class="sort">精算金 支給日</th>
																	<th class="sort">精算状態</th>
																	<th>管理</th>
																</tr>
															</thead>
															<tbody class="list form-check-all">
																<tr th:each="b:${buyers}">
																	<th scope="row">
																		<div class="form-check">
																			<input class="form-check-input" type="checkbox"
																				name="chk_child" value="option1">
																		</div>
																	</th>
																	<td class="customer_name">
																	<a>[[${b.startDate}]] ~ [[${b.endDate}]]</a></td>
																	<td class="phone" th:text="${b.price}">580-464-4694</td>
																	<td class="phone" th:text="${b.paidDate}">580-464-4694</td>
																	<td th:if="${b.sign == false}" class="status"><span
																		class="badge bg-success-subtle text-warning text-uppercase">Unpaid</span></td>
																	<td th:if="${b.sign == true}" class="status"><span
																		class="badge bg-success-subtle text-success text-uppercase">Paid</span></td>	
																	<td>
																		<div class="d-flex gap-2">
																			<div class="edit">
																				<a class="btn btn-sm btn-success edit-item-btn">DETAIL</a>
																			</div>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													<div class="noresult" th:if="${buyers.totalElements == 0}">
															<div class="text-center">
																<h5 class="mt-2">検索結果がありません</h5>
																<p class="text-muted mb-0">自分の購買者が会員登録をするとe-mailにて通知されます。</p>
															</div>
														</div>
													</div>

													<div class="d-flex justify-content-end">
														<div class="pagination-wrap hstack gap-1">
															<nav aria-label="navigation">
																<ul class="pagination justify-content-center">
																	<li class="page-item"
																		th:classappend="${1 == buyers.pageable.pageNumber+1} ? 'disabled'">
																		<a class="page-link" href="#"
																		th:href="@{/member/calculation(page=0, size=${param.size})}"
																		tabindex="-1" aria-disabled="true">First</a>
																	</li>
																	<li class="page-item"
																		th:classappend="${1 == buyers.pageable.pageNumber+1} ? 'disabled'">
																		<a class="page-link" href="#"
																		th:href="@{/member/calculation(page=${buyers.pageable.pageNumber - 1}, size=${param.size})}"
																		tabindex="-1" aria-disabled="true">Previous</a>
																	</li>
																	<li class="page-item"
																		th:classappend="${i == buyers.pageable.pageNumber+1} ? 'disabled'"
																		th:each="i : ${#numbers.sequence(startPage, endPage)}">
																		<a	class="page-link" href="#" th:text=${i}
																		th:href="@{/member/calculation(page=${i-1}, size=${param.size})}">1</a>
																	</li>
																	<li class="page-item"
																		th:classappend="${buyers.totalPages == buyers.pageable.pageNumber + 1} ? 'disabled'">
																		<a class="page-link" href="#"
																		th:href="@{/member/calculation(page=${buyers.pageable.pageNumber + 1}, size=${param.size})}">Next</a>
																	</li>
																	<li class="page-item"
																		th:classappend="${buyers.totalPages == buyers.pageable.pageNumber + 1} ? 'disabled'">
																		<a class="page-link" href="#"
																		th:href="@{/member/calculation(page=${buyers.totalPages-1}, size=${param.size})}">Last</a>
																	</li>
																</ul>
															</nav>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:replace="fragments/common :: footerSrc"></th:block>
		</div>

	</div>

	
	<th:block th:replace="fragments/common :: scriptSrc"></th:block>
	<script src="/assets/js/search.js"></script>
	 <script th:inline="javascript">
   		var searchType = /*[[${searchType}]]*/ 'default';
    </script>
</body>

</html>