<!doctype html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
lang="en"
	data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/common :: headSrc">

</head>

<body>

	<div id="layout-wrapper">


		<th:block th:replace="fragments/common :: headerSrc"></th:block>
		<th:block th:replace="fragments/common :: navSrc"></th:block>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">
					<div class="profile-foreground position-relative mx-n4 mt-n4">
						<div class="profile-wid-bg">
							<img src="assets/images/profile-bg.jpg" alt=""
								class="profile-wid-img" />
						</div>
					</div>
					<div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
						<div class="row g-4">
							<div class="col">
								<div class="p-2">
									<h3 class="text-white mb-1" sec:authentication="principal.membername">USER Name</h3>
									<p class="text-white text-opacity-75" sec:authentication="principal.membergrade">Grade</p>
									<div class="hstack text-white-50 gap-1">
										<div class="me-2">
											<i
												class="ri-map-pin-user-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>Manager
											
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-8">
							<div>
								<div class="d-flex profile-wrapper">
									<div class="flex-shrink-0">
										<a href="/member/editInformation" class="btn btn-success"><i
											class="ri-edit-box-line align-bottom"></i> EDIT PROFILE</a>
									</div>
								</div>
								<div class="tab-content pt-4 text-muted">
									<div class="tab-pane active" id="overview-tab" role="tabpanel">
										<div class="row">
											<div class="col-xxl-6">

												<div class="card">
													<div class="card-body">
														<h5 class="card-title mb-3">USER INFORMATIONs</h5>
														<div class="table-responsive">
															<table class="table table-borderless mb-0">
																<tbody>
																	<tr>
																		<th class="ps-0" scope="row">SNSTOMO MANAGER CENTER ID :</th>
																		<td class="text-muted" th:text="${member.username}">Admin</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">NAME :</th>
																		<td class="text-muted" th:text="${member.memberName}">Admin</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">SNSTOMO ID :</th>
																		<td class="text-muted" th:text="${member.memberTomoUsername}">Admin</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">SNSTOMO EMAIL :</th>
																		<td class="text-muted" th:text="${member.memberTomoEmail}">Admin</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">PHONE NUMBER :</th>
																		<td class="text-muted" th:text="${member.memberPhoneNumber}">010-1234-1234</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">E-MAIL :</th>
																		<td class="text-muted" th:text="${member.memberEmail}">email@email.com</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>

											</div>
											<div class="col-xxl-6">

												<div class="card">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-borderless mb-0">
																<tbody>
																	<tr>
																		<th class="ps-0" scope="row">銀行名</th>
																		<td class="text-muted" th:text="${member.memberBankName}">2023.01.01</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">支店名</th>
																		<td class="text-muted" th:text="${member.memberBankPoint}">30</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">ACCOUNT NUMBER :</th>
																		<td class="text-muted" th:text="${member.memberAccountNumber}">123-1234-1234</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">JOINING DATE</th>
																		<td class="text-muted" id="joinDate" th:text="${member.memberJoinDate}">2023.01.01</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">BONUS RATE</th>
																		<td class="text-muted" th:text="${member.memberBonusRate}">30</td>
																	</tr>
																	
																	<tr>
																		<th class="ps-0" scope="row">PARENT USER</th>
																		<td class="text-muted" th:text="${member.memberParentUsername}">admin</td>
																	</tr>
																	<tr>
																		<th class="ps-0" scope="row">GRADE</th>
																		<td class="text-muted" >MANAGER</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<th:block th:replace="fragments/common :: footerSrc"></th:block>
	</div>



	<button onclick="topFunction()" class="btn btn-danger btn-icon"
		id="back-to-top">
		<i class="ri-arrow-up-line"></i>
	</button>

	<div id="preloader">
		<div id="status">
			<div class="spinner-border text-primary avatar-sm" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>


	<script>
	var joinDate = document.getElementById('joinDate');
	var txt = joinDate.innerText;
	console.log(txt);
	var newDate = txt.substring(0, 10);
	document.getElementById('joinDate').innerText = newDate;
	</script>
	<th:block th:replace="fragments/common :: scriptSrc"></th:block>
	
</body>

</html>