<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/common :: headSrc">

</head>

<body>

	<div id="layout-wrapper">

		
		<th:block th:replace="fragments/common :: headerSrc"></th:block>
		<th:block th:replace="fragments/common :: navSrc"></th:block>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col">

							<div class="h-100">
								<div class="row mb-3 pb-1">
									<div class="col-12">
										<div
											class="d-flex align-items-lg-center flex-lg-row flex-column">
											<div class="flex-grow-1">
												<h4 class="fs-16 mb-1">환영합니다.</h4>
												<p class="text-muted mb-0">간단한 판매 혹은 구매에 대한 정보를 확인할 수 있습니다.</p>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xl-3 col-md-6">
										<div class="card card-animate bg-primary">
											<div class="card-body">
												<div class="d-flex align-items-center">
													<div class="flex-grow-1 overflow-hidden">
														<p class="text-uppercase fw-bold text-white-50 text-truncate mb-0">총 매출</p>
														<p class="info-message"># 나의 모든 매출을 의미 합니다.</p>
														<p class="info-message"># 관리자만 확인할 수 있습니다.</p>
													</div>
												</div>
												<div
													class="d-flex align-items-end justify-content-between mt-4">
													<div>
														<h4 class="fs-22 fw-bold ff-secondary text-white mb-4">
															$<span class="counter-value" data-target="559.25">0</span>k
														</h4>
														<a href="" class="text-decoration-underline text-white-50">View
															net earnings</a>
														<p class="info-message"># 클릭시 총 매출 정산 페이지로 이동합니다..</p>	
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-3 col-md-6">
										<div class="card card-animate bg-secondary">
											<div class="card-body">
												<div class="d-flex align-items-center">
													<div class="flex-grow-1 overflow-hidden">
														<p class="text-uppercase fw-bold text-white-50 text-truncate mb-0">총 매출</p>
														<p class="info-message"># 나의 모든 매출을 의미 합니다.</p>
														<p class="info-message"># 관리자만 확인할 수 있습니다.</p>
													</div>
												</div>
												<div
													class="d-flex align-items-end justify-content-between mt-4">
													<div>
														<h4 class="fs-22 fw-bold ff-secondary text-white mb-4">
															$<span class="counter-value" data-target="559.25">0</span>k
														</h4>
														<a href="" class="text-decoration-underline text-white-50">View
															net earnings</a>
														<p class="info-message"># 클릭시 총 매출 정산 페이지로 이동합니다..</p>	
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-3 col-md-6">
										<!-- card -->
										<div class="card card-animate bg-success">
											<div class="card-body">
												<div class="d-flex align-items-center">
													<div class="flex-grow-1 overflow-hidden">
														<p class="text-uppercase fw-bold text-white-50 text-truncate mb-0">총 매출</p>
														<p class="info-message"># 나의 모든 매출을 의미 합니다.</p>
														<p class="info-message"># 관리자만 확인할 수 있습니다.</p>
													</div>
												</div>
												<div
													class="d-flex align-items-end justify-content-between mt-4">
													<div>
														<h4 class="fs-22 fw-bold ff-secondary text-white mb-4">
															$<span class="counter-value" data-target="559.25">0</span>k
														</h4>
														<a href="" class="text-decoration-underline text-white-50">View
															net earnings</a>
														<p class="info-message"># 클릭시 총 매출 정산 페이지로 이동합니다..</p>	
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-3 col-md-6">
										<div class="card card-animate bg-info">
											<div class="card-body">
												<div class="d-flex align-items-center">
													<div class="flex-grow-1 overflow-hidden">
														<p class="text-uppercase fw-bold text-white-50 text-truncate mb-0">총 매출</p>
														<p class="info-message"># 나의 모든 매출을 의미 합니다.</p>
														<p class="info-message"># 관리자만 확인할 수 있습니다.</p>
													</div>
												</div>
												<div
													class="d-flex align-items-end justify-content-between mt-4">
													<div>
														<h4 class="fs-22 fw-bold ff-secondary text-white mb-4">
															$<span class="counter-value" data-target="559.25">0</span>k
														</h4>
														<a href="" class="text-decoration-underline text-white-50">View
															net earnings</a>
														<p class="info-message"># 클릭시 총 매출 정산 페이지로 이동합니다..</p>	
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-xl-6">
										<div class="card">
											<div class="card-header align-items-center">
												<h4 class="card-title mb-3 flex-grow-1 ">딜러 정산 TOP 5</h4>
												<p class="info-message"># 내가 1차 딜러인 경우에 확인할 수 있는 메뉴 입니다.</p>
												<p class="info-message"># 나에게 속한 딜러 중 매출이 가장 큰 5명의 딜러를 확인할 수 있습니다.</p>
											</div>

											<div class="card-body">
												<div class="table-responsive table-card">
													<table
														class="table table-hover table-centered align-middle table-nowrap mb-0">
														<tbody>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																			<a href="#"
																				class="text-reset">딜러 A</a>
																			<p class="info-message"># 클릭시 해당 딜러의 상세페이지로 이동 합니다.</p>
																			</h5>
																			<span class="text-muted"><a href="#"
																					class="text-reset">딜러 A의 고객 A</a>
																					<p class="info-message"># 클릭시 해당 고객의 상세페이지로 이동 합니다.</p>
																			</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																			<a href="#"
																				class="text-reset">딜러 A</a>
																			</h5>
																			<span class="text-muted"><a href="#"
																					class="text-reset">딜러 A의 고객 A</a>
																			</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																				<a href="#"
																					class="text-reset">딜러 A</a>
																			</h5>
																			<span class="text-muted"><a href="#"
																					class="text-reset">딜러 A의 고객 A</a>
																			</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																			<a href="#"
																				class="text-reset">딜러 A</a>
																			</h5>
																			<span class="text-muted"><a href="#"
																					class="text-reset">딜러 A의 고객 A</a>
																			</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																			<a href="#"
																				class="text-reset">딜러 A</a>
																			</h5>
																			<span class="text-muted"><a href="#"
																					class="text-reset">딜러 A의 고객 A</a>
																			</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
														</tbody>
													</table>
												</div>

												<div
													class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
													<div class="col-sm">
														<div class="text-muted">
															<a href="" class="text-decoration-underline">
															모든 딜러 판매내역 확인하기 =></a>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>

									<div class="col-xl-6">
										<div class="card card-height-100">
											<div class="card-header align-items-center">
												<h4 class="card-title mb-3 flex-grow-1 ">바이어 정산 TOP 5</h4>
												<p class="info-message"># 내게 속한 고객 중 가장 많은 구매를 진행한 5명의 유저를 확인할 수 있습니다.</p>
												<p class="info-message"># 하단의 모든 내역 확인하기를 클릭하여 모든 구매 내역을 확인할 수 있습니다.</p>
											</div>

											<div class="card-body">
												<div class="table-responsive table-card">
													<table
														class="table table-centered table-hover align-middle table-nowrap mb-0">
														<tbody>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																			<a href="#"
																				class="text-reset">딜러 A</a>
																			<p class="info-message"># 클릭시 해당 딜러의 상세페이지로 이동 합니다.</p>
																			</h5>
																			<span class="text-muted"><a href="#"
																					class="text-reset">딜러 A의 고객 A</a>
																					<p class="info-message"># 클릭시 해당 고객의 상세페이지로 이동 합니다.</p>
																			</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																				<a href="apps-ecommerce-seller-details.html"
																					class="text-reset">딜러 A</a>
																			</h5>
																			<span class="text-muted">딜러 A의 고객 A</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																				<a href="apps-ecommerce-seller-details.html"
																					class="text-reset">딜러 A</a>
																			</h5>
																			<span class="text-muted">딜러 A의 고객 A</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																				<a href="apps-ecommerce-seller-details.html"
																					class="text-reset">딜러 A</a>
																			</h5>
																			<span class="text-muted">딜러 A의 고객 A</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
															<tr>
																<td>
																	<div class="d-flex align-items-between">
																		<div class="flex-grow-1">
																			<h5 class="fs-14 my-1 fw-medium">
																				<a href="apps-ecommerce-seller-details.html"
																					class="text-reset">딜러 A</a>
																			</h5>
																			<span class="text-muted">딜러 A의 고객 A</span>
																		</div>
																	</div>
																</td>
																<td><span class="text-muted">$11260</span></td>
															</tr>
														</tbody>
													</table>
												</div>

												<div
													class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
													<div class="col-sm">
														<div class="text-muted">
															<a href="" class="text-decoration-underline">
															모든 바이어 구매내역 확인하기 =></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-auto layout-rightside-col">
							<div class="overlay"></div>
							<div class="layout-rightside">
								<div class="card h-100 rounded-0">
									<div class="card-body p-0">
										<div class="p-3">
											<h6 class="text-muted mb-0 text-uppercase fw-bold fs-13">Recent
												Activity</h6>
										</div>
										<div data-simplebar style="max-height: 410px;"
											class="p-3 pt-0">
											<div class="acitivity-timeline acitivity-main">
												<div class="acitivity-item d-flex">
													<div class="flex-shrink-0 avatar-xs acitivity-avatar">
														<div
															class="avatar-title bg-success-subtle text-success rounded-circle">
															<i class="ri-shopping-cart-2-line"></i>
														</div>
													</div>
													<div class="flex-grow-1 ms-3">
														<h6 class="mb-1 lh-base">구매 발생</h6>
														<small class="mb-0 text-muted">2023.01.01</small>
													</div>
												</div>
												<div class="acitivity-item d-flex">
													<div class="flex-shrink-0 avatar-xs acitivity-avatar">
														<div
															class="avatar-title bg-success-subtle text-success rounded-circle">
															<i class="ri-shopping-cart-2-line"></i>
														</div>
													</div>
													<div class="flex-grow-1 ms-3">
														<h6 class="mb-1 lh-base">구매 발생</h6>
														<small class="mb-0 text-muted">2023.01.01</small>
													</div>
												</div>
												<div class="acitivity-item d-flex">
													<div class="flex-shrink-0 avatar-xs acitivity-avatar">
														<div
															class="avatar-title bg-success-subtle text-success rounded-circle">
															<i class="ri-shopping-cart-2-line"></i>
														</div>
													</div>
													<div class="flex-grow-1 ms-3">
														<h6 class="mb-1 lh-base">구매 발생</h6>
														<small class="mb-0 text-muted">2023.01.01</small>
													</div>
												</div>
												<div class="acitivity-item py-3 d-flex">
													<div class="flex-shrink-0">
														<div class="avatar-xs acitivity-avatar">
															<div class="avatar-title rounded-circle bg-secondary">
																<i class="mdi mdi-sale fs-14"></i>
															</div>
														</div>
													</div>
													<div class="flex-grow-1 ms-3">
														<h6 class="mb-1 lh-base">
															 <a href="apps-ecommerce-seller-details.html"
																class="link-secondary">회원가입 발생</a>
														</h6>
														<small class="mb-0 text-muted">2023.01.01</small>
													</div>
												</div>
												<div class="acitivity-item py-3 d-flex">
													<div class="flex-shrink-0">
														<div class="avatar-xs acitivity-avatar">
															<div class="avatar-title rounded-circle bg-secondary">
																<i class="mdi mdi-sale fs-14"></i>
															</div>
														</div>
													</div>
													<div class="flex-grow-1 ms-3">
														<h6 class="mb-1 lh-base">
															 <a href="apps-ecommerce-seller-details.html"
																class="link-secondary">회원가입 발생</a>
														</h6>
														<small class="mb-0 text-muted">2023.01.01</small>
													</div>
												</div>
												<div class="acitivity-item py-3 d-flex">
													<div class="flex-shrink-0">
														<div class="avatar-xs acitivity-avatar">
															<div class="avatar-title rounded-circle bg-secondary">
																<i class="mdi mdi-sale fs-14"></i>
															</div>
														</div>
													</div>
													<div class="flex-grow-1 ms-3">
														<h6 class="mb-1 lh-base">
															 <a href="apps-ecommerce-seller-details.html"
																class="link-secondary">회원가입 발생</a>
														</h6>
														<small class="mb-0 text-muted">2023.01.01</small>
													</div>
												</div>
											</div>
										</div>



										<div
											class="card sidebar-alert bg-light border-0 text-center mx-4 mb-0 mt-3">
											<div class="card-body">
												<img src="images/giftbox.png" alt="">
												<div class="mt-4">
													<h5>Invite New Seller</h5>
													<p class="text-muted lh-base">Refer a new seller to us
														and earn $100 per refer.</p>
													<button type="button"
														class="btn btn-primary btn-label rounded-pill">
														<i
															class="ri-mail-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
														Invite Now
													</button>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<th:block th:replace="fragments/common :: footerSrc"></th:block>
		</div>

	</div>


	<th:block th:replace="fragments/common :: scriptSrc"></th:block>
</body>

</html>