<!doctype html>
<html xmlns:th = "http://www.thymeleaf.org"
 lang="en" data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/common :: headSrc">

</head>

<body>

    <div class="auth-page-wrapper pt-5">
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>

        <div class="auth-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-sm-5 mb-4 text-white-50">
                            <div>
                                <a href="/index" class="d-inline-block auth-logo">
                                    <img src="https://teriwoo0519.cafe24.com/tomo/logo.png" alt="" height="50">
                                </a>
                            </div>
                            <p class="mt-3 fs-15 fw-semibold">SNSTOMO Management Center</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card mt-4">

                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">SNSTOMO 会員登録</h5>
                                </div>
                                
                                <div class="p-2 mt-4">
                                    <form class="row" action="/signupProcess" method="POST">
										<div class="col-md-6 col-lg-6 col-xl-6">
											<div class="mb-3">
	                                            <label class="form-label">会員ID<span class="text-danger">*</span></label>
	                                            <input 
	                                            type="text" 
	                                            class="form-control" 
	                                            name="username" 
	                                            placeholder="ご希望のIDを入力してください。" 
	                                            required>
	                                            <p class="info-message"># SNSTOMO Management Centerで使用希望のIDを入力してください。</p>
	                                        </div>
	                                        <div class="mb-3">
	                                            <label for="name" class="form-label">お名前 <span class="text-danger">*</span></label>
	                                            <input 
	                                            type="text" 
	                                            class="form-control" 
	                                            name="memberName" 
	                                            placeholder="お名前または会社名を入力してください" 
	                                            required>
	                                        </div>
	                                        <div class="mb-3">
	                                            <label class="form-label">Email <span class="text-danger">*</span></label>
	                                            <input 
	                                            type="email" 
	                                            class="form-control" 
	                                            name="memberEmail" 
	                                            placeholder="E-MAILを入力してください" 
	                                            required>
	                                            <p class="info-message"># 顧客の購買、SUBディーラー登録などすべての情報はE-MAILを通じてお伝えします。</p>
	                                            <p class="info-message"># 正確なE-MAILアドレスをご記入ください。</p>
	                                        </div>
	                                        <div class="mb-3">
	                                            <label class="form-label">パスワード<span class="text-danger">*</span></label>
	                                            <div class="position-relative">
	                                                <input 
	                                                type="password" 
	                                                class="form-control pe-5" 
	                                                onpaste="return false" 
	                                                placeholder="パスワードを入力してください" 
	                                                name="password"
	                                                required>
	                                            </div>
	                                        </div>
	                                        <div class="mb-3">
	                                            <label class="form-label">電話番号<span class="text-danger">*</span></label>
	                                            <div class="position-relative">
	                                                <input 
	                                                type="text" 
	                                                class="form-control pe-5" 
	                                                placeholder="携帯電話番号を入力してください" 
	                                                name="memberPhoneNumber"
	                                                required>
	                                                <p class="info-message"># 正確なご連絡先をご記入ください。</p>
	                                            </div>
	                                        </div>
	                                        
										</div>
										<div class="col-md-6 col-lg-6 col-xl-6">
											<div class="mb-3">
	                                            <label class="form-label">口座番号 <span class="text-danger">*</span></label>
	                                            <div class="position-relative">
	                                                <input 
	                                                type="text" 
	                                                class="form-control pe-5" 
	                                                name="memberAccountNumber"
	                                                placeholder="口座番号を入力してください"
	                                                required>
	                                                <p class="info-message"># 手当精算のための口座番号を正確にご記入ください</p>
	                                            </div>
	                                        </div>
	                                        
	                                        <div class="mb-3">
	                                            <label class="form-label">銀行名 <span class="text-danger">*</span></label>
	                                            <div class="position-relative">
	                                                <input 
	                                                type="text" 
	                                                class="form-control pe-5" 
	                                                name="memberBankName"
	                                                placeholder="口座番号を入力してください"
	                                                required>
	                                                <p class="info-message"># 銀行名をご記入ください。</p>
	                                            </div>
	                                        </div>
	                                        
	                                        <div class="mb-3">
	                                            <label class="form-label">支店名 <span class="text-danger">*</span></label>
	                                            <div class="position-relative">
	                                                <input 
	                                                type="text" 
	                                                class="form-control pe-5" 
	                                                name="memberBankPoint"
	                                                placeholder="口座番号を入力してください"
	                                                required>
	                                                <p class="info-message"># 支店名をご記入ください。</p>
	                                            </div>
	                                        </div>
	                                        <div class="mb-3">
	                                            <label class="form-label">親ユーザー<span class="text-danger">*</span></label>
	                                            <div class="position-relative">
	                                                <input 
	                                                type="text" 
	                                                class="form-control pe-5" 
	                                                name="memberParentUsername"
	                                                th:value="${memberParentUsername}">
	                                                <p class="info-message"># 上位のユーザーがいる場合該当するIDをご記入ください。</p>
	                                                <p class="info-message"># 上位ユーザーがSNS TOMOである場合SNSTOMOと入力してください</p>
	                                                <p class="info-message"># 提供されたURLを通じて接続していただくと自動入力されます。</p>
	                                                <input type="hidden" th:value="${memberGrade}" name="memberGrade">
	                                                <input type="hidden" th:value="${memberBonusRate}" name="memberBonusRate">
	                                            </div>
	                                        </div>
	                                        <div class="mb-3">
	                                            <label class="form-label">Tomo ID</label>
	                                            <div class="position-relative">
	                                                <input 
	                                                type="text" 
	                                                class="form-control pe-5" 
	                                                name="memberTomoUsername"
	                                                placeholder="SNS TOMOのIDを入力" >
	                                                <p class="info-message"># SNS TOMOでサービスを購入される場合ID入力が必要になります。</p>
	                                                <p class="info-message"># IDを入力するとお得な情報がございます。</p>
	                                            </div>
	                                        </div>
	                                        <div class="mb-3">
	                                            <label class="form-label">Tomo Email</label>
	                                            <div class="position-relative">
	                                                <input 
	                                                type="text" 
	                                                class="form-control pe-5" 
	                                                name="memberTomoEmail"
	                                                placeholder="SNS TOMOのEmailを入力" >
	                                                <p class="info-message"># SNS TOMOでサービスを購入される場合ID入力が必要になります。</p>
	                                                <p class="info-message"># IDを入力するとお得な情報がございます。</p>
	                                            </div>
	                                        </div>
										</div>
                                        <div class="mb-4">
                                            <p class="mb-0 fs-13 text-muted fst-italic">会員登録時SNSTOMOの <a href="#" class="text-primary text-decoration-underline fst-normal fw-semibold">利用規約</a>
                                          		に同意することとみなします。</p>
                                        </div>
						

                                        <div class="mt-4">
                                            <button class="btn btn-success w-100" type="submit">会員登録</button>
                                        </div>
									
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="mt-4 text-center">
                            <p class="mb-0">既にアカウントをお持ちである場合は？ <a href="/signin" class="fw-bold text-primary text-decoration-underline"> ログイン </a> </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/common :: footerSrc"></th:block>
    </div>
	<th:block th:replace="fragments/common :: scriptSrc"></th:block>
</body>

</html>